.row
  .col-md-12
    #custom-search-input
      .input-group.col-md-12
        %input.form-control.input-lg{:placeholder => "Search", :type => "text"}/
        %span.input-group-btn
          %button.btn.btn-info.btn-lg{:type => "button"}
            %i.glyphicon.glyphicon-search
- @skills.each do |skill|       
  %h3
    = link_to skill.name.capitalize, skill
  %hr