@import 'font-kit-rails/open-sans.css';

$font-family-sans-serif: 'Open Sans';
$navbar-default-bg:                #fff !default;
$navbar-default-border: #ccc!default;

$brand-primary: darken(#ea1e63, 6.5%) !default; // #337ab7

$brand-info: darken(#00e676, 6.5%) !default; // #337ab7

$link-color: $brand-info !default;

.navbar-brand {
	color: $brand-primary!important;
}

.nav {
  .active {
    color: $brand-primary!important;
  }
}

.skill {
  margin: 15px 5px 0px 0px;
}

.small-skill {
  margin: 10px 5px 0px 0px;
}

.button-contain {
	margin-bottom: 5px;
}

.profile-img {
  height: 150px;
  width:  150px;
}

.list-img {
	height: 80px;
	width: 80px;
}

@import "bootstrap-sprockets";
@import "bootstrap";
@import "devise_bootstrap_views";
@import "font-awesome";
@import 'toastr.css';
@import 'jquery-ui.css';
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

a:hover, a:active, a:link {
    text-decoration: none;
}